{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ title }}</h1>
{# COMMENT #}
<div>
    Names:
    <ul>
        {% for name in names %}
            <li>
                {{ name.name }} - {{ name.surname }} 
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}